<?xml version="1.0" encoding="utf-8" ?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <root>
    <appender-ref xdt:Transform="Remove" xdt:Locator="Condition(@ref='aiAppender')" />
  </root>
  <appender xdt:Transform="Remove" xdt:Locator="Condition(@name='aiAppender')" />
</log4net>