<?xml version="1.0" encoding="utf-8" ?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <root>
    <appender-ref xdt:Transform="Remove" xdt:Locator="Condition(@ref='aiAppender')" />
    <appender-ref ref="aiAppender" xdt:Transform="Insert" />
  </root>
  <appender xdt:Transform="Remove" xdt:Locator="Condition(@name='aiAppender')" />
  <appender name="aiAppender" type="log4net.Appender.TraceAppender" xdt:Transform="Insert">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
    </layout>
  </appender>
</log4net>