<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <modules>
      <add xdt:Transform="Remove" xdt:Locator="Condition(@name='TelemetryCorrelationHttpModule')" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" xdt:Transform="Insert" />
      <add xdt:Transform="Remove" xdt:Locator="Condition(@name='ApplicationInsightsWebTracking')" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" xdt:Transform="Insert" />
      <add xdt:Transform="Remove" xdt:Locator="Condition(@name='DnnAppInsights')" />
      <add name="DnnAppInsights" type="DotNetNuke.Monitoring.AppInsights.AppInsightsModule, DotNetNuke.Monitoring.AppInsights" preCondition="managedHandler" xdt:Transform="Insert" />
    </modules>
  </system.webServer>
  <dotnetnuke>
    <logging defaultProvider="AppInsightsLoggingProvider" xdt:Transform="Replace">
      <providers>
        <clear />
        <add name="DBLoggingProvider" type="DotNetNuke.Services.Log.EventLog.DBLoggingProvider, DotNetNuke" providerPath="~\Providers\LoggingProviders\DBLoggingProvider\" />
        <add name="AppInsightsLoggingProvider" type="DotNetNuke.Monitoring.AppInsights.AppInsightsLoggingProvider, DotNetNuke.Monitoring.AppInsights" providerPath="~\DesktopModules\AppInsights\" />
      </providers>
    </logging>
  </dotnetnuke>
  <system.diagnostics xdt:Transform="Remove" />
  <system.diagnostics xdt:Transform="Insert">
    <trace>
      <listeners>
        <add name='DnnAppInsightsListener' type='Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener' />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>