<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <modules>
      <add xdt:Transform="Remove" xdt:Locator="Condition(@name='ApplicationInsightsWebTracking')" />
      <add xdt:Transform="Remove" xdt:Locator="Condition(@name='DnnAppInsights')" />
    </modules>
  </system.webServer>
  <dotnetnuke>
    <logging defaultProvider="DBLoggingProvider" xdt:Transform="Replace">
      <providers>
        <clear />
        <add name="DBLoggingProvider" type="DotNetNuke.Services.Log.EventLog.DBLoggingProvider, DotNetNuke" providerPath="~\Providers\LoggingProviders\DBLoggingProvider\" />
      </providers>
    </logging>
  </dotnetnuke>
  <system.diagnostics xdt:Transform="Remove" />
</configuration>