<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <modules>
      <add xdt:Transform="Remove" xdt:Locator="Condition(@name='ApplicationInsightsWebTracking')" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" xdt:Transform="Insert" />
      <add xdt:Transform="Remove" xdt:Locator="Condition(@name='DnnAppInsights')" />
      <add name="DnnAppInsights" type="DotNetNuke.Monitoring.AppInsights.AppInsightsModule, DotNetNuke.Monitoring.AppInsights" preCondition="managedHandler" xdt:Transform="Insert" />
    </modules>
  </system.webServer>
  <system.diagnostics xdt:Transform="Remove" />
  <system.diagnostics xdt:Transform="Insert">
    <trace>
      <listeners>
        <add name='DnnAppInsightsListener' type='Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener' />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>